<div *ngIf="loading" class="prosesload">
  <div class="loading">
    <img style="margin:auto;width:100%;" src="https://cdn140.picsart.com/259325004017202.gif" />
  </div>
</div>
<div class="container">
  <div class="row mt-3">
    <div class="input-group col-md-12">
      <input class="form-control py-2" type="search" value="search" id="example-search-input">
        <span class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">
            <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-sm-6 col-md-4 pageinno">
      <div class="card">
          <div class="card-body">
            This is some text within a card body.
          </div>
        </div>
    </div>
  </div>
</div>